//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

//navBar
$navBarBg:#2a2b3a;
$navMenuItem: #ffffff;

//main-container
$mainConBg: #323240;
$sectionBg: #1a1b25;
$fontWhite: #ffffff;
$themeColor: #00ffff;
